<!--<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Mis Proyectos</a>
        </li>
        <li class="active">Mis Proyectos</li>
    </ul>
</div>-->
<div class="jumbotron">
      <div class="container">
        <h2 class="display-3">Hola {{name}} </h2>
        <p>Aqui vas a poder ingresar todo tipo de reclamos bla bla</p>
        <p><a class="btn btn-primary btn-lg" href="#/proyecto" role="button">Nuevo Proyecto &raquo;</a></p>
        <button ng-click='newProject()'>Nuevo</button>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Consulta de expedientes</h2>
          <p>Aqui consultamos todos los expedientes que hayan ingresado al Concejo Municipal de Rosario. </p>
          <p><a class="btn btn-secondary" href="" role="button">Ver expedientes &raquo;</a></p>
        </div>
        
        </div>
        
        
        <div class="row">
          <div class="col-md-6 col-md-offset-3"><a ng-click="logout();">Salir</a></div>
        </div>
      </div>

      <hr>
      
      <footer>
        <p>&copy; Concejo Municipal de Rosario 2016</p>
      </footer>
      <!--
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                    Bienvenido 
                </h4>
                        <div class="space-16"></div>
                        UID: {{uid}}
                        <br/>Nombre: {{name}}
                        <br/>E-mail: {{email}}
                        <br/>
                        <a ng-click="logout();">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- /.page-content -->