<div class="jumbotron">
      <div class="container">
        <h2 class="display-3">Hola {{name}} </h2>
        <p>Esta es una herramienta más de participación ciudadana, con la cual tu propuesta sera gestionada por Concejo Municipal ante al Departamento Ejecutivo. Además vas a poder  realizar una gran variedad de trámites de forma sencilla y con un considerable ahorro de tiempo.</p>
        <p><a class="btn btn-primary btn-lg" href="#/proyecto" role="button">Completa el formulario &raquo;</a>
  
      </div>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        
        <div class="col-md-4">
          <h2>Consulta de expedientes</h2>
          <p>Ingresando en número del expediente de tu interés, vas a poder hacerle un seguimiento seguro, conocer su fecha de ingreso y las fechas y detalles de las diferentes etapas por las que va atravesando en el mecanismo legislativo.</p>
          <p><a class="btn btn-secondary" href="../TYR/busqueda/" role="button">Ver expedientes &raquo;</a></p>
        </div>
        
      </div>
        
</div>
    
<h2><a ng-click="logout();">Salir</a></h2>

<hr>
     
<footer>
    <p>&copy; Concejo Municipal de Rosario 2017</p>
</footer>
      