<!--<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Mis Proyectos</a>
        </li>
        <li class="active">Mis Proyectos</li>
    </ul>
</div>-->
<div class="jumbotron">
      <div class="container">
        <h2 class="display-3">Hola {{name}} </h2>
        <p>Necesitas reparar tu vereda? Pedir la instalacion de luminaria? Ahora vas a poder iniciar tramites y reclamos desde la pagina del concejo municipal</p>
        <p><a class="btn btn-primary btn-lg" href="#/proyecto" role="button">Nuevo Tramite &raquo;</a></p>
        <!--<button ng-click='newProject()'>Nuevo</button>-->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        
        <div class="col-md-4">
          <h2>Consulta de expedientes</h2>
          <p>Aqui consultamos todos los expedientes que hayan ingresado al Concejo Municipal de Rosario. </p>
          <p><a class="btn btn-secondary" href="" role="button">Ver expedientes &raquo;</a></p>
        </div>
        
      </div>
        
    </div>
    
     <h2><a ng-click="logout();">Salir</a></h2>
      <hr>
     
      
      <footer>
        <p>&copy; Concejo Municipal de Rosario 2016</p>
      </footer>
      