
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h3 class="header blue lighter bigger">
                            Ingrese los datos de la Iniciativa
                        </h3>
                        <br/>
    <form name="proyectoForm" class="form-horizontal" role="form">
                            

                            <!-- campo  userID -->
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="uid">ID</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="{{uid}}" name="uid" ng-model="project.uid" ng-value="" />
                            </span>
                                </div>
                            </div>

                            <!-- campo  email -->
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Correo electronico</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="{{email}}" name="email" ng-model="project.email" focus/>
                                        <span ng-show="signupForm.email.$error.email" class="help-inline">Ingrese un correo valido!</span> 
                                    </span>
                                </div>
                            </div>
                            <!-- campo  telefono -->
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="phone">Teléfono (fijo o celular)</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="{{phone}}" name="phone" ng-model="project.phone"/>
                            </span>
                                </div>
                            </div>
                            <!-- campo  tema -->
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="tema">Tema</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                     <select class="form-control" name="theme" id="theme" ng-model="project.theme">
                            
                                            <optgroup label="Obras Públicas">
                                                <option value="Bacheo">Bacheo - Pavimentación - Asfalto</option>
                                                <option value="Semaforos">Semáforos (colocación y reparación)</option>
                                                <option value="Plazas">Plazas (mantenimiento, reparación, equipamiento y construcción)</option>
                                                <option value="Veredas">Veredas (reparación)</option>
                                                <option value="Señalización vial y carteleria">Señalización vial y cartelería (colocación, reparación y mantenimiento)</option>
                                                <option value="Zanja">Zanja (construcción y mantenimiento)</option>
                                                <option value="Boca de tormentas">Boca de tormentas (colocación, reparación y mantenimiento)</option>
                                                <option value="Instalacion de Luminarias">Instalación de Luminarias</option>
                                                <option value="Corte de transito">Corte de transito</option>
                                                <option value="Desmalezamiento">Desmalezamiento</option>
                                                <option value="vehiculo">Retiro de vahiculo abandonado en la via pública</option>

                                            </optgroup>
                                            <optgroup label="Ecologia">
                                                <option value="Poda y escamonda de arboles">Poda y escamonda de arboles</option>
                                           </optgroup>
                                           <optgroup label="Servicios Publicos">
                                               <option value="Eliminacion de basural">Eliminacion de basural</option>
                                               <option value="Retiro de escombros">Retiro de escombros</option>
                                               <option value="Colocacion de volquete">Colocacion de volquete</option>
                                               <option value="Areas de limpieza en general">Areas de limpieza en general</option>
                                               <option value="Luminaria">Luminaria (colocación, reparacion y mantenimiento)</option>
                                               <option value="cloacas">Desobtrucción, reparación de desagues y bocas de tormenta</option>
                                           </optgroup>
                                            <optgroup label="Salud">
                                                <option value="Estudio Ambiental">Estudio Ambiental a cargo de asistentes sociales</option>
                                                <option value="Desagotamiento de pozos ciegos">Desagotamiento de pozos ciegos</option>
                                           </optgroup>
                                           <option value="otros">Otros</option>
                                          
                                     </select>

                                
                                    </span>
                                </div>
                            </div>

                            <!-- campo  Direccion -->
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="address">Dirección</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Dirección exacta" ng-model="project.address" />
                            </span>
                                </div>
                            </div>
                            <!-- campo  Comentario -->
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="comentario">Detalle el tramite</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <textarea type="textarea" class="form-control" placeholder="" ng-model="project.comment" /></textarea>
                            </span>
                                </div>
                            </div>
                            <!-- Boton enviar -->
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="saveProject()" data-ng-disabled="signupForm.$invalid">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            
                            <h3><a href="#/dashboard">Volver</a></h3>
                            </div>
    </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->