<!--<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Mis Proyectos</a>
        </li>
        <li class="active">Mis Proyectos</li>
    </ul>
</div>-->
<div class="jumbotron">
      <div class="container">
        <h2 class="display-3">Hola {{name}} </h2>
        <p>Esta es una herramienta más de participación ciudadana, con la cual tu propuesta sera gestionada por Concejo Municipal ante al Departamento Ejecutivo. Además vas a poder  realizar una gran variedad de trámites de forma sencilla y con un considerable ahorro de tiempo.</p>
        <p><a class="btn btn-primary btn-lg" href="#/proyecto" role="button">Completa el formulario &raquo;</a></p>
        <!--<button ng-click='newProject()'>Nuevo</button>-->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        
        <div class="col-md-4">
          <h2>Consulta de expedientes</h2>
          <p>Consulte aquí los expedientes ingresados al Concejo Municipal de Rosario. Al completar el formulario de Iniciativas, pedidos y propuestas, recibirás por correo un número de trámite con el cuál podrás verificar el estado del pedido </p>
          <p><a class="btn btn-secondary" href="http://190.210.183.204/TYR/busqueda/" role="button">Ver expedientes &raquo;</a></p>
        </div>
        
      </div>
        
    </div>
    
     <h2><a ng-click="logout();">Salir</a></h2>
      <hr>
     
      
      <footer>
        <p>&copy; Concejo Municipal de Rosario 2016</p>
      </footer>
      